<div class="container-fluid main_body w-100">
  
  <ul ngbNav #nav="ngbNav" class="nav-tabs blue">

    <li class = "me-auto">
      <div class = "title"> {{title}}</div>
    </li>

    <li ngbNavItem>
      <a ngbNavLink class="rounded-pill blue"(click) = "toRoute('', $event);" href="/" [style.color]="flag_search ? color_active : color_deactive" [ngClass] = "this.ticker == '' ? 'search':''" >Search</a> <!-- here causing error: [ngclass]... -->
    </li>

    <li ngbNavItem>
      <a ngbNavLink class="rounded-pill blue" (click) = "toRoute('watchlist', $event);" href="/watchlist" [style.color]="flag_watchlist ? color_active : color_deactive">Watchlist</a>
    </li>

    <li ngbNavItem>
      <a ngbNavLink class="rounded-pill blue" (click) = "toRoute('portfolio', $event);" href="/portfolio" [style.color]="flag_portfolio ? color_active : color_deactive">Portfolio</a>
    </li>
  </ul>
  <div [ngbNavOutlet]="nav"></div>
  <router-outlet></router-outlet>
</div>
<footer class = 'site-footer'>Powered by <span class="blue_text">Finnhub.io</span></footer>